<h1>User Page</h1>
<%= @user.username %>
<%= @user.email %>
<% if @user.profile != nil %>
			<%= content_tag :h3, "first name" %><%= @user.profile.first_name %>
			<%= content_tag :h3, "last name:" %><%= @user.profile.last_name %>
			<%= content_tag :h3, "city" %><%= @user.profile.city %>
			<%= content_tag :h3, "age:" %><%= @user.profile.age %>
			<% end %>
			<br><br>
						<% if @user.id == @current_user_id %>
				<% if @user.profile != nil %>
				<%= link_to("Edit Profile", edit_profile_path(@user.profile.id), method: :get) %>
				<% else %>
				<br><br>
				<%= link_to("Create Profile", new_profile_path, method: :get) %>
				<% end %>
				<br><br>
				<%= link_to("Delete User", user_path(@user.id), method: :delete) %>
			<% end %>
<h1>First three president timeline</h1>
	<%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %>